
body {
    text-align: center ;
}
h1 {
    font-family: sans-serif;
    font-weight: bolder;
}
input {
    width:30%;
    height: 30px;
    box-sizing: border-box;
}

button {
    background-color: rgb(30, 148, 93);
    color: aliceblue;
    width: 30%;
    height: 30px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(4, 70, 32);
}

div {
    background-color: rgb(227, 226, 247);
    border-radius: 10px;
    width: 430px;
    margin: auto;
    box-shadow: 5px 5px 10px black;

}